In [1]:
import pandas as pd
import numpy as np

import plotly.express as px
import datetime
from datetime import datetime

In [2]:
players = pd.read_csv("player_tianmin_class.csv")

games = pd.read_csv("tianmin_chess_class.csv")

moves = pd.read_csv("move_tianmin_class.csv")

In [3]:
players.head()

,Unnamed: 0,username,urls,time_control,end_time,uuid,initial_setup,time_class,rules,white_rating,...,ECOUrl,EndDate,EndTime,StartTime,Termination,Timezone,UTCDate,UTCTime,class,player_rating
0,0,AGcuber19,https://www.chess.com/game/live/63764962677,600,1670026173,efe6de36-729d-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,739,...,https://www.chess.com/openings/Englund-Gambit-...,2022.12.03,00:09:33,00:03:42,nien-eleven won by resignation,UTC,2022.12.03,00:03:42,BO,640
1,1,AGcuber19,https://www.chess.com/game/live/63765037219,600,1670027162,c44f652e-729e-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,602,...,https://www.chess.com/openings/Kings-Pawn-Open...,2022.12.03,00:26:02,00:09:35,Sebastianbulowthomsen won by checkmate,UTC,2022.12.03,00:09:35,BO,631
2,2,AGcuber19,https://www.chess.com/game/live/63766207495,600,1670027246,3fc79932-72a1-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,605,...,https://www.chess.com/openings/Nimzowitsch-Def...,2022.12.03,00:39:02,00:27:28,Eric_Carstens won by resignation,UTC,2022.12.03,00:27:28,BO,639
3,3,AGcuber19,https://www.chess.com/game/live/63766210035,600,1670027942,46e3ab94-72a1-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,631,...,https://www.chess.com/openings/Kings-Pawn-Open...,2022.12.03,00:40:45,00:39:07,AGcuber19 won - game abandoned,UTC,2022.12.03,00:39:07,BO,631
4,4,AGcuber19,https://www.chess.com/game/live/63766827497,600,1670028045,e39207bd-72a2-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,637,...,https://www.chess.com/openings/Kings-Pawn-Open...,2022.12.03,00:51:06,00:41:26,AGcuber19 won - game abandoned,UTC,2022.12.03,00:41:26,BO,637

In [4]:
games.head()

,timestamp,username,urls,time_control,end_time,uuid,initial_setup,time_class,rules,white_rating,...,EndTime,StartTime,Termination,Timezone,UTCDate,UTCTime,player_rating,year,month,day
0,2022-12-03 00:09:33,AGcuber19,https://www.chess.com/game/live/63764962677,600,1670026173,efe6de36-729d-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,739,...,00:09:33,00:03:42,nien-eleven won by resignation,UTC,2022.12.03,00:03:42,640,2022,12,3
1,2022-12-03 00:26:02,AGcuber19,https://www.chess.com/game/live/63765037219,600,1670027162,c44f652e-729e-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,602,...,00:26:02,00:09:35,Sebastianbulowthomsen won by checkmate,UTC,2022.12.03,00:09:35,631,2022,12,3
2,2022-12-03 00:27:26,AGcuber19,https://www.chess.com/game/live/63766207495,600,1670027246,3fc79932-72a1-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,605,...,00:39:02,00:27:28,Eric_Carstens won by resignation,UTC,2022.12.03,00:27:28,639,2022,12,3
3,2022-12-03 00:39:02,AGcuber19,https://www.chess.com/game/live/63766210035,600,1670027942,46e3ab94-72a1-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,631,...,00:40:45,00:39:07,AGcuber19 won - game abandoned,UTC,2022.12.03,00:39:07,631,2022,12,3
4,2022-12-03 00:40:45,AGcuber19,https://www.chess.com/game/live/63766827497,600,1670028045,e39207bd-72a2-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,637,...,00:51:06,00:41:26,AGcuber19 won - game abandoned,UTC,2022.12.03,00:41:26,637,2022,12,3

In [5]:
games.columns

Index(['timestamp', 'username', 'urls', 'time_control', 'end_time', 'uuid',
       'initial_setup', 'time_class', 'rules', 'white_rating',
       'white_username', 'black_rating', 'black_username', 'pgn', 'event',
       'Site', 'Date', 'Round', 'Result', 'CurrentPosition', 'ECO', 'ECOUrl',
       'EndDate', 'EndTime', 'StartTime', 'Termination', 'Timezone', 'UTCDate',
       'UTCTime', 'player_rating', 'year', 'month', 'day'],
      dtype='object')

In [6]:
moves.head()

,Unnamed: 0,uuid,move_number,white_move,black_move,white_time,black_time
0,0,efe6de36-729d-11ed-a69d-78ac4409ff3c,1,d4,e5,0:10:00,0:09:57.4
1,1,efe6de36-729d-11ed-a69d-78ac4409ff3c,2,dxe5,Qh4,0:09:58.8,0:09:54.9
2,2,efe6de36-729d-11ed-a69d-78ac4409ff3c,3,Nf3,Qb4+,0:09:57.4,0:09:47.4
3,3,efe6de36-729d-11ed-a69d-78ac4409ff3c,4,c3,Qb6,0:09:52.9,0:09:31.2
4,4,efe6de36-729d-11ed-a69d-78ac4409ff3c,5,Be3,Qxb2,0:09:45.6,0:09:22.8

In [7]:
# Q1 - how many games does this player play between date A and date B

# Q2 - What is the time of the week does this player play chess?

# Q3 - How many moves does this player have per game?

# Q4 - How much seconds does each move take for the player? ---

# Q5 - What is the most common opening when this player played white?

# Q6 - What is the most common opening when this player played black?

# Q7 - How does the rating change along the period?

# Q8 - How does the rating of its opponent along the period?

# Q9 - The distribution of type of games this player has played?

# 10 - win, lose, draw ratio

In [8]:
games['username'].unique()

array(['AGcuber19', 'TLPAWN', 'xiaoanwu', 'EmmaXLi', 'akfunchess66',
       'Marsboom', 'Claraqiu', 'Ravenclawfairy', 'Zora_zhu',
       'BurleyWalrus', 'taionemm', 'augustinewz', 'oscarzhang818',
       'yaohengli', 'Wallacewang1214', 'SophiaZ2022', 'AliceCLi',
       'yumitang', 'james2945', 'Oinkoinkw', 'Cathye1', 'lunathekitsune',
       'ArthurRocket', 'vivianwwww20', 'ChloeWang16', 'Tyzalex',
       'ZhichengW', 'Haochen1123', 'jaydenlan0118', 'ImRacoonie'],
      dtype=object)

In [9]:
# timestamp UTC?
def period_games(username,period):
    """
    return the dataframe that contains the games the username has played during the period of time
    
    input: 
    
    username - username that belong to the target player
    period - a list contains two items, start date and the end date
    
    output:
    
    dataframe that contains the games the username has played during the period of time
    """
    start_date = datetime.date(datetime.strptime(period[0], '%m/%d/%y') )
    end_date = datetime.date(datetime.strptime(period[1], '%m/%d/%y') )
    
    
    usergame = games.loc[games['username'] == username]
    
    usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date
    
    usergame = usergame.loc[(usergame.date >= start_date) & (usergame.date <= end_date) ]
    
    #usergame = usergame.groupby(['date']).nunique().reset_index()[['date','uuid']]

    #total_games = usergame['uuid'].sum()
    
    #fig = px.scatter(usergame, x='date', y='uuid', title="Number of games played by {}".format(username))
    #fig.show()
    return usergame
    

period_games('AGcuber19',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/1415164158.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date

,timestamp,username,urls,time_control,end_time,uuid,initial_setup,time_class,rules,white_rating,...,StartTime,Termination,Timezone,UTCDate,UTCTime,player_rating,year,month,day,date
0,2022-12-03 00:09:33,AGcuber19,https://www.chess.com/game/live/63764962677,600,1670026173,efe6de36-729d-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,739,...,00:03:42,nien-eleven won by resignation,UTC,2022.12.03,00:03:42,640,2022,12,3,2022-12-03
1,2022-12-03 00:26:02,AGcuber19,https://www.chess.com/game/live/63765037219,600,1670027162,c44f652e-729e-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,602,...,00:09:35,Sebastianbulowthomsen won by checkmate,UTC,2022.12.03,00:09:35,631,2022,12,3,2022-12-03
2,2022-12-03 00:27:26,AGcuber19,https://www.chess.com/game/live/63766207495,600,1670027246,3fc79932-72a1-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,605,...,00:27:28,Eric_Carstens won by resignation,UTC,2022.12.03,00:27:28,639,2022,12,3,2022-12-03
3,2022-12-03 00:39:02,AGcuber19,https://www.chess.com/game/live/63766210035,600,1670027942,46e3ab94-72a1-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,631,...,00:39:07,AGcuber19 won - game abandoned,UTC,2022.12.03,00:39:07,631,2022,12,3,2022-12-03
4,2022-12-03 00:40:45,AGcuber19,https://www.chess.com/game/live/63766827497,600,1670028045,e39207bd-72a2-11ed-a69d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,637,...,00:41:26,AGcuber19 won - game abandoned,UTC,2022.12.03,00:41:26,637,2022,12,3,2022-12-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,2023-02-03 16:25:04,AGcuber19,https://www.chess.com/game/live/69180496133,60,1675441504,265bfb02-a3df-11ed-8eba-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,bullet,chess,587,...,02:13:12,Dano_12_3 won by resignation,UTC,2023.02.04,02:13:12,538,2023,2,3,2023-02-03
281,2023-02-03 16:27:20,AGcuber19,https://www.chess.com/game/live/69180539185,60,1675441640,55ad0404-a3df-11ed-8eba-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,bullet,chess,530,...,02:24:59,BlundersInc won by checkmate,UTC,2023.02.04,02:24:59,530,2023,2,3,2023-02-03
282,2023-02-03 16:29:37,AGcuber19,https://www.chess.com/game/live/69180612217,60,1675441777,a567c8ce-a3df-11ed-8eba-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,bullet,chess,564,...,02:30:23,SamHendry won by checkmate,UTC,2023.02.04,02:30:23,539,2023,2,3,2023-02-03
283,2023-02-03 23:40:59,AGcuber19,https://www.chess.com/game/live/69206198899,600,1675467659,e299abcb-a41a-11ed-8eba-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,777,...,02:37:40,AGcuber19 won by checkmate,UTC,2023.02.04,02:37:40,777,2023,2,3,2023-02-03
284,2023-02-03 23:47:14,AGcuber19,https://www.chess.com/game/live/69206828203,180,1675468034,72965de5-a41c-11ed-8eba-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,blitz,chess,393,...,02:38:17,AGcuber19 won by checkmate,UTC,2023.02.04,02:38:17,432,2023,2,3,2023-02-03

In [10]:
# Q1 - how many games does this player play between date A and date B
# timestamp UTC?
def number_games(username,period):
    """
    return the number of games that the username has played during the period of time
    
    input: 
    
    username - username that belong to the target player
    period - a list contains two items, start date and the end date
    
    output:
    number of games this username has played during the period
    """
    usergame = period_games(username,period)

    total_games = usergame['uuid'].nunique()
    
    return total_games
    #fig = px.scatter(usergame, x='date', y='uuid', title="Number of games played by {}".format(username))
    #fig.show()
    

number_games('AGcuber19',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/1415164158.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date

285

In [11]:
# Q2 - What is the time of the week does this player play chess?

def play_time(username,period):
    """
    return a dataframe that shows game uuid, the date, hour, the username was playing during the period of time
    
    input: 
    
    username - username that belong to the target player
    period - a list contains two items, start date and the end date
    
    output:
    return a dataframe that shows how many games the date, hour, the username has played during the period of time
    """
    
    usergame = period_games(username,period)
    usergame_period = usergame[['username','timestamp','uuid']]
    usergame_period['dow'] = pd.to_datetime((usergame_period['timestamp']), errors='coerce').dt.day_name()
    usergame_period['hour'] = pd.to_datetime((usergame_period['timestamp']), errors='coerce').dt.hour
    
    game_dow = usergame_period.groupby(['dow','hour']).nunique().reset_index()[['dow','hour','uuid']]
    return game_dow
play_time('AGcuber19',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/1415164158.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/2384280540.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame_period['dow'] = pd.to_datetime((usergame_period['timestamp']), errors='coerce').dt.day_name()
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/2384280540.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame_period['hour'] = pd.to_datetime((usergame_period['timestamp']), errors='coerce').dt.hour

          dow  hour  uuid
0      Friday     1     2
1      Friday     2     4
2      Friday     3     7
3      Friday    14     5
4      Friday    15     2
5      Friday    16     3
6      Friday    23     2
7      Monday     0     3
8      Monday     1     3
9      Monday     2     4
10     Monday     4     1
11     Monday    15     2
12     Monday    16     4
13     Monday    17     6
14     Monday    18     7
15     Monday    19     1
16     Monday    21     5
17     Monday    22     5
18     Monday    23     2
19   Saturday     0     6
20   Saturday     5     1
21   Saturday    14    10
22   Saturday    15    23
23   Saturday    16    14
24   Saturday    17     2
25   Saturday    20     3
26   Saturday    21    10
27   Saturday    22     2
28     Sunday     1     1
29     Sunday     2     3
30     Sunday    17     6
31     Sunday    18     4
32     Sunday    19     4
33     Sunday    20    10
34     Sunday    21     5
35     Sunday    22    10
36     Sunday    23     3
37   Thursday     4     1
38   Thursday    14     4
39   Thursday    16     3
40   Thursday    18     7
41   Thursday    20     1
42   Thursday    21     8
43   Thursday    23     1
44    Tuesday     1     6
45    Tuesday    15    13
46    Tuesday    16     4
47    Tuesday    17    10
48    Tuesday    18     7
49    Tuesday    20     9
50    Tuesday    21    10
51  Wednesday     1     1
52  Wednesday    14     1
53  Wednesday    16     7
54  Wednesday    18     2
55  Wednesday    21     4
56  Wednesday    22     1

In [12]:
# Q3 - How many moves does this player have per game?

def move_number(username, period):
    usergame = period_games(username,period)
    games_move = pd.merge(usergame, moves, on=["uuid"])

    move_aggr = games_move.groupby(['username','uuid']).max().reset_index()[['username','uuid','move_number']]
    
    return move_aggr

move_number('AGcuber19',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/1415164158.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/2859715107.py:7: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  move_aggr = games_move.groupby(['username','uuid']).max().reset_index()[['username','uuid','move_number']]

      username                                  uuid  move_number
0    AGcuber19  00637681-741f-11ed-a69d-78ac4409ff3c           19
1    AGcuber19  01bd193e-74c6-11ed-a69d-78ac4409ff3c           40
2    AGcuber19  0346bc16-7589-11ed-950c-78ac4409ff3c           24
3    AGcuber19  03a8030c-891e-11ed-b5e4-78ac4409ff3c           11
4    AGcuber19  046c5536-a36b-11ed-8d9d-78ac4409ff3c           22
..         ...                                   ...          ...
274  AGcuber19  fd80778b-7f41-11ed-94ac-78ac4409ff3c           19
275  AGcuber19  fd91edb4-75ab-11ed-950c-78ac4409ff3c            7
276  AGcuber19  fd94f6b0-a17f-11ed-9668-78ac4409ff3c           22
277  AGcuber19  fe7cf428-814d-11ed-94ac-78ac4409ff3c           23
278  AGcuber19  ff55ac10-89f9-11ed-b5e4-78ac4409ff3c           11

[279 rows x 3 columns]

In [64]:
# Q4 - How much seconds does each move take for the player?


def is_white_player(row):
    if row['username'].lower() == row['white_username'].lower():
        return 1
    else:
        return 0


def player_rating(row):  
    if row['username'].lower() == row['white_username'].lower():
        return row['white_rating']
    else:
        return row['black_rating']
    
def opponent_rating(row):  
    if row['username'].lower() == row['black_username'].lower():
        return row['white_rating']
    else:
        return row['black_rating']
    

def is_white_player(row):
    if row['username'].lower() == row['white_username'].lower():
        return 1
    else:
        return 0



def play_time(row):
    if row['is_white_player'] == 1:
        return row['white_time']
    else:
        return row['black_time']
    

def remain_time(row):
    if row['time_accre'] == None:
        return row['time_fixed']
    else:
        return int(row['time_fixed']) + int(row['time_accre']) * int(row['move_number'])
    


def remain_play_time(row):
    if type(row['play_time']) == float:
        return None
    else:
        return int(row['time_hour']) * 3600 + int(row['time_min']) * 60 + float(row['time_sec'])



#move_time.loc[move_time['play_time'].isnull]

#move_time[move_time['play_time'].isnull()]
#move_number('AGcuber19',['12/01/22','02/28/23'])

def move_time(username, period):
    usergame = period_games(username,period)
    games_move = pd.merge(usergame, moves, on=["uuid"])
    games_move['is_white_player'] = games_move.apply(lambda row: is_white_player(row), axis=1)
    games_move['play_time'] = games_move.apply(lambda row: play_time(row), axis=1)
    move_time = games_move[['username','uuid','time_control','move_number','play_time']]
    move_time[['time_fixed', 'time_accre']] = move_time.time_control.str.split("+", expand = True) # none row has +
    move_time['time_remain'] = move_time.apply(lambda row: remain_time(row), axis=1)
    move_time[['time_hour', 'time_min','time_sec']] = move_time.play_time.str.split(":", expand = True)
    move_time['play_time_remain'] = move_time.apply(lambda row: remain_play_time(row), axis=1)
    return move_time

move_time('xiaoanwu',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/1415164158.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/2109336329.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  move_time['time_remain'] = move_time.apply(lambda row: remain_time(row), axis=1)
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/2109336329.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  move_time['play_time_remain'] = move_time.apply(lambda row: remain_play_time(row), axis=1)

,username,uuid,time_control,move_number,play_time,time_fixed,time_accre,time_remain,time_hour,time_min,time_sec,play_time_remain
0,xiaoanwu,60fba4ff-7322-11ed-a69d-78ac4409ff3c,900+10,1,0:15:10,900,10,910,0,15,10,910.0
1,xiaoanwu,60fba4ff-7322-11ed-a69d-78ac4409ff3c,900+10,2,0:15:17.1,900,10,920,0,15,17.1,917.1
2,xiaoanwu,60fba4ff-7322-11ed-a69d-78ac4409ff3c,900+10,3,0:15:26.1,900,10,930,0,15,26.1,926.1
3,xiaoanwu,60fba4ff-7322-11ed-a69d-78ac4409ff3c,900+10,4,0:15:34.9,900,10,940,0,15,34.9,934.9
4,xiaoanwu,60fba4ff-7322-11ed-a69d-78ac4409ff3c,900+10,5,0:15:44.3,900,10,950,0,15,44.3,944.3
...,...,...,...,...,...,...,...,...,...,...,...,...
435,xiaoanwu,49a44f55-9f23-11ed-ab9a-78ac4409ff3c,900+10,16,0:14:43.9,900,10,1060,0,14,43.9,883.9
436,xiaoanwu,49a44f55-9f23-11ed-ab9a-78ac4409ff3c,900+10,17,0:14:46.6,900,10,1070,0,14,46.6,886.6
437,xiaoanwu,49a44f55-9f23-11ed-ab9a-78ac4409ff3c,900+10,18,0:14:48.6,900,10,1080,0,14,48.6,888.6
438,xiaoanwu,49a44f55-9f23-11ed-ab9a-78ac4409ff3c,900+10,19,0:14:40.4,900,10,1090,0,14,40.4,880.4
439,xiaoanwu,49a44f55-9f23-11ed-ab9a-78ac4409ff3c,900+10,20,NaN,900,10,1100,NaN,NaN,NaN,NaN

In [25]:
# Q5 - What is the most common opening when this player played white?


def white_opening(username, period, top):
    usergame = period_games(username,period)
    games_move = pd.merge(usergame, moves, on=["uuid"])
    games_move['is_white_player'] = games_move.apply(lambda row: is_white_player(row), axis=1)

    games_move = games_move.loc[games_move['is_white_player'] == 1]
    move_aggr = games_move.groupby(['username','ECO']).nunique().reset_index()[['username','ECO','uuid']].sort_values(by =
                                                                                                                     'uuid', ascending = False)
    
    return move_aggr.head(top)

white_opening('AGcuber19',['12/01/22','02/28/23'],5)

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/1415164158.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date

     username  ECO  uuid
10  AGcuber19  C20    63
5   AGcuber19  B01    13
17  AGcuber19  C42    13
3   AGcuber19  A40    11
16  AGcuber19  C40     7

In [26]:
# Q6 - What is the most common opening when this player played black?


def white_opening(username, period, top):
    usergame = period_games(username,period)
    games_move = pd.merge(usergame, moves, on=["uuid"])
    games_move['is_white_player'] = games_move.apply(lambda row: is_white_player(row), axis=1)

    games_move = games_move.loc[games_move['is_white_player'] == 0]
    move_aggr = games_move.groupby(['username','ECO']).nunique().reset_index()[['username','ECO','uuid']].sort_values(by =
                                                                                                                     'uuid', ascending = False)
    
    return move_aggr.head(top)

white_opening('AGcuber19',['12/01/22','02/28/23'],5)

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/1415164158.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date

     username  ECO  uuid
14  AGcuber19  C20    55
19  AGcuber19  C42    13
6   AGcuber19  A40    12
8   AGcuber19  B01     7
15  AGcuber19  C21     6

In [33]:
# Q7 - How does the rating change along the period?

def rating_overtime(username,period,ascending = True):
    usergames = games.loc[games['username'] == username]
    rating_time = usergames[['username','timestamp','player_rating']].sort_values(by = 'timestamp',ascending = ascending)
    
    return rating_time
rating_overtime('AGcuber19',['12/01/22','02/28/23'], False)

      username            timestamp  player_rating
284  AGcuber19  2023-02-03 23:47:14            432
283  AGcuber19  2023-02-03 23:40:59            777
282  AGcuber19  2023-02-03 16:29:37            539
281  AGcuber19  2023-02-03 16:27:20            530
280  AGcuber19  2023-02-03 16:25:04            538
..         ...                  ...            ...
4    AGcuber19  2022-12-03 00:40:45            637
3    AGcuber19  2022-12-03 00:39:02            631
2    AGcuber19  2022-12-03 00:27:26            639
1    AGcuber19  2022-12-03 00:26:02            631
0    AGcuber19  2022-12-03 00:09:33            640

[285 rows x 3 columns]

In [35]:
# Q8 - How does the rating of its opponent along the period?
def opponent_rating_time(username,period,ascending = True):
    usergames = games.loc[games['username'] == username]
    usergames['opponent_rating'] = usergames.apply(lambda row: opponent_rating(row), axis=1)
    opponent_rating_time = usergames[['username','timestamp','opponent_rating']].sort_values(by = 'timestamp',ascending = ascending)
    
    return opponent_rating_time

opponent_rating_time('AGcuber19',['12/01/22','02/28/23'], False)

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/418094891.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergames['opponent_rating'] = usergames.apply(lambda row: opponent_rating(row), axis=1)

      username            timestamp  opponent_rating
284  AGcuber19  2023-02-03 23:47:14              393
283  AGcuber19  2023-02-03 23:40:59              727
282  AGcuber19  2023-02-03 16:29:37              564
281  AGcuber19  2023-02-03 16:27:20              548
280  AGcuber19  2023-02-03 16:25:04              587
..         ...                  ...              ...
4    AGcuber19  2022-12-03 00:40:45              523
3    AGcuber19  2022-12-03 00:39:02              659
2    AGcuber19  2022-12-03 00:27:26              605
1    AGcuber19  2022-12-03 00:26:02              602
0    AGcuber19  2022-12-03 00:09:33              739

[285 rows x 3 columns]

In [38]:
# Q9 - The distribution of type of games this player has played?

def time_control(username,period):
    usergames = games.loc[games['username'] == username]
    user_time_control = usergames.groupby(['username','time_control']).nunique().reset_index()[['username','time_control','uuid']]
    return user_time_control

time_control('AGcuber19',['12/01/22','02/28/23'])

    username time_control  uuid
0  AGcuber19        120+1     2
1  AGcuber19         1200    22
2  AGcuber19          180    21
3  AGcuber19           60    50
4  AGcuber19         60+1     1
5  AGcuber19          600   182
6  AGcuber19       900+10     7

In [47]:
#10 - win, lose, draw ratio
def result_outcome(username,period):
    usergames = games.loc[games['username'] == username]
    usergames['is_white_player'] = usergames.apply(lambda row: is_white_player(row), axis=1)

    outcome = usergames.groupby(['username','Result','is_white_player']).nunique().reset_index()[['username',
                                                                                                 'Result',
                                                                                                  'is_white_player',
                                                                                                 'uuid']]
    
    return outcome
result_outcome('AGcuber19',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_65608/3461264245.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergames['is_white_player'] = usergames.apply(lambda row: is_white_player(row), axis=1)

    username   Result  is_white_player  uuid
0  AGcuber19      0-1                0    59
1  AGcuber19      0-1                1    63
2  AGcuber19      1-0                0    70
3  AGcuber19      1-0                1    79
4  AGcuber19  1/2-1/2                0     9
5  AGcuber19  1/2-1/2                1     5

In [50]:
# time per each move
test = moves.loc[moves['uuid'] == 'efe6de36-729d-11ed-a69d-78ac4409ff3c']
test

,Unnamed: 0,uuid,move_number,white_move,black_move,white_time,black_time
0,0,efe6de36-729d-11ed-a69d-78ac4409ff3c,1,d4,e5,0:10:00,0:09:57.4
1,1,efe6de36-729d-11ed-a69d-78ac4409ff3c,2,dxe5,Qh4,0:09:58.8,0:09:54.9
2,2,efe6de36-729d-11ed-a69d-78ac4409ff3c,3,Nf3,Qb4+,0:09:57.4,0:09:47.4
3,3,efe6de36-729d-11ed-a69d-78ac4409ff3c,4,c3,Qb6,0:09:52.9,0:09:31.2
4,4,efe6de36-729d-11ed-a69d-78ac4409ff3c,5,Be3,Qxb2,0:09:45.6,0:09:22.8
5,5,efe6de36-729d-11ed-a69d-78ac4409ff3c,6,Nbd2,Qxc3,0:09:36.5,0:09:06.7
6,6,efe6de36-729d-11ed-a69d-78ac4409ff3c,7,Rc1,Qa3,0:09:25.2,0:08:51
7,7,efe6de36-729d-11ed-a69d-78ac4409ff3c,8,Ra1,Bb4,0:09:04.7,0:08:36.4
8,8,efe6de36-729d-11ed-a69d-78ac4409ff3c,9,Qb1,Qa5,0:08:55.4,0:08:16.7
9,9,efe6de36-729d-11ed-a69d-78ac4409ff3c,10,g3,Bxd2+,0:08:45.7,0:08:11.4
10,10,efe6de36-729d-11ed-a69d-78ac4409ff3c,11,Bxd2,Qd5,0:08:44.4,0:07:44.8
11,11,efe6de36-729d-11ed-a69d-78ac4409ff3c,12,Qb2,d6,0:08:21.1,0:07:35.3
12,12,efe6de36-729d-11ed-a69d-78ac4409ff3c,13,exd6,cxd6,0:07:42,0:07:32.5
13,13,efe6de36-729d-11ed-a69d-78ac4409ff3c,14,Qxg7,NaN,0:07:40.6,NaN

In [141]:
letters = ['a','b','c','d','e','f','g','h']
numbers = [1,2,3,4,5,6,7,8]

squares = []
for l in letters:
    for n in numbers:
        squares.append(l + str(n))
len(square)

squares[0]

'a1'

In [179]:
letters.index('a')

0

In [187]:
letters[2]

'c'

In [197]:
def capture_square(color, piece, current_square):
    alphabet = current_square[0]
    alpha_index = letters.index(alphabet)
    number = int(current_square[1])
    caps = []
    for square in squares:
        square_alpha = square[0]
        square_number = int(square[1])
        if piece == 'p':
            if color == 'white' and ((square_alpha ==  letters[alpha_index + 1] or square_alpha ==  letters[alpha_index - 1]) and square_number == number + 1):
                caps.append(square)
            elif color == 'black' and ((square_alpha ==  letters[alpha_index + 1] or square_alpha ==  letters[alpha_index - 1]) and square_number == number - 1): 
                caps.append(square)
        elif piece == 'n' and ((square_alpha == letters[alpha_index + 1] and square_number == number + 2)  or \
                              (square_alpha == letters[alpha_index + 1] and square_number == number - 2) or   \
                              (square_alpha == letters[alpha_index + 2] and square_number == number - 1) or \
                              (square_alpha == letters[alpha_index + 2] and square_number == number + 1) or \
                              (square_alpha == letters[alpha_index - 2] and square_number == number + 1) or \
                              (square_alpha == letters[alpha_index - 2] and square_number == number - 1) or \
                              (square_alpha == letters[alpha_index - 1] and square_number == number + 2) or \
                              (square_alpha == letters[alpha_index - 1] and square_number == number - 2)): 
            caps.append(square)

            
            

                    
    return caps
            

capture_square("white",'p','a4')

['b5', 'h5']

In [91]:
test = 'b3'

alphabet = test[0]
alpha_index = letters.index(alphabet)
number = int(test[1])

In [95]:
letters[alpha_index + 1]

'c'

In [ ]:
"""
number >= 1 or <= 8
alpha >= a or <= h

if pawn
    if white 
        number + 1
        alpha + 1 and -1
    if black
        number - 1
        alpha + 1 and -1
        
if knight
    black/white
        if number +1/-1 then alpha +2/-2
        if number +2/-2 then alpha +1/-1

if bishop
    black/white
        if number +1/-1 then alpha +1/-1 until number or alpha goes out of range
        
if rook
    black/white
        if number +/- alpha no change
        if alphe +/1 alpha no change
        until number or alpha goes out of range
        
if queen
    black/white
        rook + bishop
        
if king
    black/white
        number & alpha +1/-1 iterate, excluding current position

"""