In [1]:
import pandas as pd
import numpy as np

import plotly.express as px
import datetime
from datetime import datetime

In [2]:
players = pd.read_csv("player_tianmin_class.csv")

games = pd.read_csv("games_tianmin_class.csv")

moves = pd.read_csv("move_tianmin_class.csv")

In [3]:
players.head()

,Unnamed: 0,username,urls,time_control,end_time,uuid,initial_setup,time_class,rules,white_rating,...,EndDate,EndTime,StartTime,Termination,Timezone,UTCDate,UTCTime,class,player_rating,timestamp
0,0,tianminlyu,https://www.chess.com/game/live/64303831489,600,1670565015,0c860a8f-7785-11ed-a76d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,2208,...,2022.12.09,05:50:15,05:48:14,tianminlyu won by resignation,UTC,2022.12.09,05:48:14,Teacher,2101,2022-12-09 05:50:15
1,1,tianminlyu,https://www.chess.com/game/live/64497025159,300,1670758600,9c4d81e6-7946-11ed-a76d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,blitz,chess,2110,...,2022.12.11,11:36:40,11:26:14,Game drawn by timeout vs insufficient material,UTC,2022.12.11,11:26:14,Teacher,2106,2022-12-11 11:36:40
2,2,tianminlyu,https://www.chess.com/game/live/64535569441,600,1670797779,7638de52-79a0-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,2085,...,2022.12.11,22:29:39,22:09:23,tianminlyu won on time,UTC,2022.12.11,22:09:23,Teacher,2112,2022-12-11 22:29:39
3,3,tianminlyu,https://www.chess.com/game/live/64536785477,600,1670798270,6a2234a4-79a3-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,2106,...,2022.12.11,22:37:50,22:30:31,nila26 won by resignation,UTC,2022.12.11,22:30:31,Teacher,2106,2022-12-11 22:37:50
4,4,tianminlyu,https://www.chess.com/game/live/64621963451,900+10,1670884116,895e3266-7a69-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,2081,...,2022.12.12,22:28:36,22:08:46,tianminlyu won by resignation,UTC,2022.12.12,22:08:46,Teacher,2116,2022-12-12 22:28:36

In [4]:
games.head()

,Unnamed: 0,timestamp,username,urls,time_control,end_time,uuid,initial_setup,time_class,rules,...,ECO,ECOUrl,EndDate,EndTime,StartTime,Termination,Timezone,UTCDate,UTCTime,player_rating
0,0,2022-12-09 05:50:15,tianminlyu,https://www.chess.com/game/live/64303831489,600,1670565015,0c860a8f-7785-11ed-a76d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,D70,https://www.chess.com/openings/Kings-Indian-De...,2022.12.09,05:50:15,05:48:14,tianminlyu won by resignation,UTC,2022.12.09,05:48:14,2101
1,1,2022-12-11 11:36:40,tianminlyu,https://www.chess.com/game/live/64497025159,300,1670758600,9c4d81e6-7946-11ed-a76d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,blitz,chess,...,E60,https://www.chess.com/openings/Kings-Indian-De...,2022.12.11,11:36:40,11:26:14,Game drawn by timeout vs insufficient material,UTC,2022.12.11,11:26:14,2106
2,2,2022-12-11 22:29:39,tianminlyu,https://www.chess.com/game/live/64535569441,600,1670797779,7638de52-79a0-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,E32,https://www.chess.com/openings/Nimzo-Indian-De...,2022.12.11,22:29:39,22:09:23,tianminlyu won on time,UTC,2022.12.11,22:09:23,2112
3,3,2022-12-11 22:37:50,tianminlyu,https://www.chess.com/game/live/64536785477,600,1670798270,6a2234a4-79a3-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,A05,https://www.chess.com/openings/Reti-Opening-Ki...,2022.12.11,22:37:50,22:30:31,nila26 won by resignation,UTC,2022.12.11,22:30:31,2106
4,4,2022-12-12 22:28:36,tianminlyu,https://www.chess.com/game/live/64621963451,900+10,1670884116,895e3266-7a69-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,A46,https://www.chess.com/openings/Indian-Game-Lon...,2022.12.12,22:28:36,22:08:46,tianminlyu won by resignation,UTC,2022.12.12,22:08:46,2116

In [5]:
games.columns

Index(['Unnamed: 0', 'timestamp', 'username', 'urls', 'time_control',
       'end_time', 'uuid', 'initial_setup', 'time_class', 'rules',
       'white_rating', 'white_username', 'black_rating', 'black_username',
       'pgn', 'event', 'Site', 'Date', 'Round', 'Result', 'CurrentPosition',
       'ECO', 'ECOUrl', 'EndDate', 'EndTime', 'StartTime', 'Termination',
       'Timezone', 'UTCDate', 'UTCTime', 'player_rating'],
      dtype='object')

In [6]:
moves.head()

,Unnamed: 0,uuid,move_number,white_move,black_move,white_time,black_time
0,0,0c860a8f-7785-11ed-a76d-78ac4409ff3c,1.0,d4,Nf6,0:10:00,0:09:57.2
1,1,0c860a8f-7785-11ed-a76d-78ac4409ff3c,2.0,c4,g6,0:09:59,0:09:53.9
2,2,0c860a8f-7785-11ed-a76d-78ac4409ff3c,3.0,f3,Bg7,0:09:58.1,0:09:51.7
3,3,0c860a8f-7785-11ed-a76d-78ac4409ff3c,4.0,e4,O-O,0:09:57.4,0:09:50.1
4,4,0c860a8f-7785-11ed-a76d-78ac4409ff3c,5.0,Nc3,d6,0:09:56.5,0:09:48.4

In [7]:
# Q1 - how many games does this player play between date A and date B

# Q2 - What is the time of the week does this player play chess?

# Q3 - How many moves does this player have per game?

# Q4 - How much seconds does each move take for the player? ---

# Q5 - What is the most common opening when this player played white?

# Q6 - What is the most common opening when this player played black?

# Q7 - How does the rating change along the period?

# Q8 - How does the rating of its opponent along the period?

# Q9 - The distribution of type of games this player has played?

# 10 - win, lose, draw ratio

In [8]:
games['username'].unique()

array(['tianminlyu', 'AGcuber19', 'TLPAWN', 'xiaoanwu', 'EmmaXLi',
       'akfunchess66', 'Marsboom', 'Claraqiu', 'Ravenclawfairy',
       'Zora_zhu', 'BurleyWalrus', 'taionemm', 'augustinewz',
       'oscarzhang818', 'yaohengli', 'Wallacewang1214', 'SophiaZ2022',
       'AliceCLi', 'yumitang', 'james2945', 'Oinkoinkw', 'Cathye1',
       'lunathekitsune', 'ArthurRocket', 'vivianwwww20', 'ChloeWang16',
       'Tyzalex', 'ZhichengW', 'Haochen1123', 'jaydenlan0118',
       'ImRacoonie'], dtype=object)

In [9]:
# timestamp UTC?
def period_games(username,period):
    """
    return the dataframe that contains the games the username has played during the period of time
    
    input: 
    
    username - username that belong to the target player
    period - a list contains two items, start date and the end date
    
    output:
    
    dataframe that contains the games the username has played during the period of time
    """
    start_date = datetime.date(datetime.strptime(period[0], '%m/%d/%y') )
    end_date = datetime.date(datetime.strptime(period[1], '%m/%d/%y') )
    
    
    usergame = games.loc[games['username'] == username]
    
    usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date
    
    usergame = usergame.loc[(usergame.date >= start_date) & (usergame.date <= end_date) ]
    
    #usergame = usergame.groupby(['date']).nunique().reset_index()[['date','uuid']]

    #total_games = usergame['uuid'].sum()
    
    #fig = px.scatter(usergame, x='date', y='uuid', title="Number of games played by {}".format(username))
    #fig.show()
    return usergame
    

period_games('tianminlyu',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2104087043.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date

,Unnamed: 0,timestamp,username,urls,time_control,end_time,uuid,initial_setup,time_class,rules,...,ECOUrl,EndDate,EndTime,StartTime,Termination,Timezone,UTCDate,UTCTime,player_rating,date
0,0,2022-12-09 05:50:15,tianminlyu,https://www.chess.com/game/live/64303831489,600,1670565015,0c860a8f-7785-11ed-a76d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Kings-Indian-De...,2022.12.09,05:50:15,05:48:14,tianminlyu won by resignation,UTC,2022.12.09,05:48:14,2101,2022-12-09
1,1,2022-12-11 11:36:40,tianminlyu,https://www.chess.com/game/live/64497025159,300,1670758600,9c4d81e6-7946-11ed-a76d-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,blitz,chess,...,https://www.chess.com/openings/Kings-Indian-De...,2022.12.11,11:36:40,11:26:14,Game drawn by timeout vs insufficient material,UTC,2022.12.11,11:26:14,2106,2022-12-11
2,2,2022-12-11 22:29:39,tianminlyu,https://www.chess.com/game/live/64535569441,600,1670797779,7638de52-79a0-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Nimzo-Indian-De...,2022.12.11,22:29:39,22:09:23,tianminlyu won on time,UTC,2022.12.11,22:09:23,2112,2022-12-11
3,3,2022-12-11 22:37:50,tianminlyu,https://www.chess.com/game/live/64536785477,600,1670798270,6a2234a4-79a3-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Reti-Opening-Ki...,2022.12.11,22:37:50,22:30:31,nila26 won by resignation,UTC,2022.12.11,22:30:31,2106,2022-12-11
4,4,2022-12-12 22:28:36,tianminlyu,https://www.chess.com/game/live/64621963451,900+10,1670884116,895e3266-7a69-11ed-a664-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Indian-Game-Lon...,2022.12.12,22:28:36,22:08:46,tianminlyu won by resignation,UTC,2022.12.12,22:08:46,2116,2022-12-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,161,2023-01-26 15:54:51,tianminlyu,https://www.chess.com/game/live/68485960171,900+10,1674748491,e1c46f8a-9d8d-11ed-bcea-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Kings-Indian-At...,2023.01.27,16:56:39,16:50:24,boii113 won by resignation,UTC,2023.01.27,16:50:24,1945,2023-01-26
162,162,2023-01-26 16:23:25,tianminlyu,https://www.chess.com/game/live/68488286939,900+10,1674750205,2e2ce194-9d93-11ed-bcea-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Kings-Indian-At...,2023.02.01,09:23:36,09:00:26,tianminlyu won by resignation,UTC,2023.02.01,09:00:26,1952,2023-01-26
163,163,2023-01-27 16:56:39,tianminlyu,https://www.chess.com/game/live/68577295509,900+10,1674838599,adf966cb-9e62-11ed-ab9a-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Trompowsky-Attack,2023.02.15,12:32:46,12:11:16,HiImNano won by resignation,UTC,2023.02.15,12:11:16,1941,2023-01-27
164,164,2023-02-01 09:23:36,tianminlyu,https://www.chess.com/game/live/68981142153,900+10,1675243416,d38a958b-a20e-11ed-9668-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Kings-Indian-At...,2023.02.15,15:06:47,14:19:20,tianminlyu won on time,UTC,2023.02.15,14:19:20,1957,2023-02-01
165,165,2023-02-15 12:32:46,tianminlyu,https://www.chess.com/game/live/70202086741,900+10,1676464366,c9c63ddd-ad29-11ed-880b-78ac4409ff3c,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rapid,chess,...,https://www.chess.com/openings/Reti-Opening-Ro...,2023.02.18,08:38:45,18:41:40,tianminlyu won on time,UTC,2022.12.28,18:41:40,1946,2023-02-15

In [10]:
# Q1 - how many games does this player play between date A and date B
# timestamp UTC?
def number_games(username,period):
    """
    return the number of games that the username has played during the period of time
    
    input: 
    
    username - username that belong to the target player
    period - a list contains two items, start date and the end date
    
    output:
    number of games this username has played during the period
    """
    usergame = period_games(username,period)

    total_games = usergame['uuid'].nunique()
    
    return total_games
    #fig = px.scatter(usergame, x='date', y='uuid', title="Number of games played by {}".format(username))
    #fig.show()
    

number_games('tianminlyu',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2104087043.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date

166

In [11]:
# Q2 - What is the time of the week does this player play chess?

def play_time(username,period):
    """
    return a dataframe that shows game uuid, the date, hour, the username was playing during the period of time
    
    input: 
    
    username - username that belong to the target player
    period - a list contains two items, start date and the end date
    
    output:
    return a dataframe that shows how many games the date, hour, the username has played during the period of time
    """
    
    usergame = period_games(username,period)
    usergame_period = usergame[['username','timestamp','uuid']]
    usergame_period['dow'] = pd.to_datetime((usergame_period['timestamp']), errors='coerce').dt.day_name()
    usergame_period['hour'] = pd.to_datetime((usergame_period['timestamp']), errors='coerce').dt.hour
    
    game_dow = usergame_period.groupby(['dow','hour']).nunique().reset_index()[['dow','hour','uuid']]
    return game_dow
play_time('tianminlyu',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2104087043.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/1521263248.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame_period['dow'] = pd.to_datetime((usergame_period['timestamp']), errors='coerce').dt.day_name()
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/1521263248.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame_period['hour'] = pd.to_datetime((usergame_period['timestamp']), errors='coerce').dt.hour

          dow  hour  uuid
0      Friday     5     1
1      Friday    13     1
2      Friday    16     1
3      Friday    18     1
4      Friday    20     3
5      Friday    21     7
6      Friday    22     3
7      Friday    23     5
8      Monday     0     1
9      Monday    11     1
10     Monday    14     1
11     Monday    15     1
12     Monday    19     2
13     Monday    20     6
14     Monday    21     3
15     Monday    22     7
16   Saturday    15    25
17   Saturday    16     7
18   Saturday    17     2
19   Saturday    22     4
20   Saturday    23     5
21     Sunday     1     2
22     Sunday     8     1
23     Sunday     9     1
24     Sunday    10     1
25     Sunday    11     3
26     Sunday    12     1
27     Sunday    13     3
28     Sunday    15     7
29     Sunday    16     6
30     Sunday    17     1
31     Sunday    19     1
32     Sunday    21     2
33     Sunday    22     4
34     Sunday    23     5
35   Thursday    14     1
36   Thursday    15     1
37   Thursday    16     1
38   Thursday    22     1
39   Thursday    23     1
40    Tuesday     0     1
41    Tuesday     1     2
42    Tuesday     2     2
43    Tuesday    12     1
44    Tuesday    15     1
45    Tuesday    18     1
46    Tuesday    19     5
47    Tuesday    20     4
48    Tuesday    21     1
49    Tuesday    22     6
50    Tuesday    23     1
51  Wednesday     9     1
52  Wednesday    12     1
53  Wednesday    15     1
54  Wednesday    18     2
55  Wednesday    19     1
56  Wednesday    20     1
57  Wednesday    21     1
58  Wednesday    22     1
59  Wednesday    23     2

In [12]:
# Q3 - How many moves does this player have per game?

def move_number(username, period):
    usergame = period_games(username,period)
    games_move = pd.merge(usergame, moves, on=["uuid"])

    move_aggr = games_move.groupby(['username','uuid']).max().reset_index()[['username','uuid','move_number']]
    
    return move_aggr

move_number('tianminlyu',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2104087043.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/4079008371.py:7: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  move_aggr = games_move.groupby(['username','uuid']).max().reset_index()[['username','uuid','move_number']]

       username                                  uuid  move_number
0    tianminlyu  07feb87b-9123-11ed-b9f6-78ac4409ff3c         25.0
1    tianminlyu  084dcaf9-7ef0-11ed-94ac-78ac4409ff3c         24.0
2    tianminlyu  08dfb145-969e-11ed-90fb-78ac4409ff3c         32.0
3    tianminlyu  09570e3a-89cb-11ed-b5e4-78ac4409ff3c         77.0
4    tianminlyu  0b184ae6-7e2e-11ed-94ac-78ac4409ff3c         56.0
..          ...                                   ...          ...
161  tianminlyu  fb09bda0-7e26-11ed-94ac-78ac4409ff3c         23.0
162  tianminlyu  fd2da59c-9133-11ed-b9f6-78ac4409ff3c         23.0
163  tianminlyu  fd716fc5-7e1b-11ed-94ac-78ac4409ff3c          2.0
164  tianminlyu  fe59df4b-7a6d-11ed-a664-78ac4409ff3c         28.0
165  tianminlyu  ffff288b-83d8-11ed-bb21-78ac4409ff3c         46.0

[166 rows x 3 columns]

In [23]:
# Q4 - How much seconds does each move take for the player?


def is_white_player(row):
    if row['username'].lower() == row['white_username'].lower():
        return 1
    else:
        return 0


def player_rating(row):  
    if row['username'].lower() == row['white_username'].lower():
        return row['white_rating']
    else:
        return row['black_rating']
    
def opponent_rating(row):  
    if row['username'].lower() == row['black_username'].lower():
        return row['white_rating']
    else:
        return row['black_rating']
    

def is_white_player(row):
    if row['username'].lower() == row['white_username'].lower():
        return 1
    else:
        return 0



def play_time(row):
    if row['is_white_player'] == 1:
        return row['white_time']
    else:
        return row['black_time']
    

def remain_time(row):
    if row['time_accre'] == None:
        return row['time_fixed']
    else:
        return float(row['time_fixed']) + float(row['time_accre']) * float(row['move_number'])
    


def remain_play_time(row):
    if type(row['play_time']) == float:
        return None
    else:
        return int(row['time_hour']) * 3600 + int(row['time_min']) * 60 + float(row['time_sec'])



#move_time.loc[move_time['play_time'].isnull]

#move_time[move_time['play_time'].isnull()]
#move_number('AGcuber19',['12/01/22','02/28/23'])

def move_time(username, period):
    usergame = period_games(username,period)
    games_move = pd.merge(usergame, moves, on=["uuid"])
    games_move['is_white_player'] = games_move.apply(lambda row: is_white_player(row), axis=1)
    games_move['play_time'] = games_move.apply(lambda row: play_time(row), axis=1)
    move_time = games_move[['username','uuid','time_control','move_number','play_time']]
    move_time[['time_fixed', 'time_accre']] = move_time.time_control.str.split("+", expand = True) # none row has +
    move_time['time_remain'] = move_time.apply(lambda row: remain_time(row), axis=1)
    move_time[['time_hour', 'time_min','time_sec']] = move_time.play_time.str.split(":", expand = True)
    move_time['play_time_remain'] = move_time.apply(lambda row: remain_play_time(row), axis=1)
    return move_time

move_time('tianminlyu',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2104087043.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/4244283352.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  move_time['time_remain'] = move_time.apply(lambda row: remain_time(row), axis=1)
/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/4244283352.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  move_time['play_time_remain'] = move_time.apply(lambda row: remain_play_time(row), axis=1)

,username,uuid,time_control,move_number,play_time,time_fixed,time_accre,time_remain,time_hour,time_min,time_sec,play_time_remain
0,tianminlyu,0c860a8f-7785-11ed-a76d-78ac4409ff3c,600,1.0,0:09:57.2,600,None,600,0,09,57.2,597.2
1,tianminlyu,0c860a8f-7785-11ed-a76d-78ac4409ff3c,600,2.0,0:09:53.9,600,None,600,0,09,53.9,593.9
2,tianminlyu,0c860a8f-7785-11ed-a76d-78ac4409ff3c,600,3.0,0:09:51.7,600,None,600,0,09,51.7,591.7
3,tianminlyu,0c860a8f-7785-11ed-a76d-78ac4409ff3c,600,4.0,0:09:50.1,600,None,600,0,09,50.1,590.1
4,tianminlyu,0c860a8f-7785-11ed-a76d-78ac4409ff3c,600,5.0,0:09:48.4,600,None,600,0,09,48.4,588.4
...,...,...,...,...,...,...,...,...,...,...,...,...
5579,tianminlyu,c9c63ddd-ad29-11ed-880b-78ac4409ff3c,900+10,41.0,0:11:49.7,900,10,1310.0,0,11,49.7,709.7
5580,tianminlyu,c9c63ddd-ad29-11ed-880b-78ac4409ff3c,900+10,42.0,0:11:57.9,900,10,1320.0,0,11,57.9,717.9
5581,tianminlyu,c9c63ddd-ad29-11ed-880b-78ac4409ff3c,900+10,43.0,0:11:56.8,900,10,1330.0,0,11,56.8,716.8
5582,tianminlyu,c9c63ddd-ad29-11ed-880b-78ac4409ff3c,900+10,44.0,0:11:57.2,900,10,1340.0,0,11,57.2,717.2
5583,tianminlyu,c9c63ddd-ad29-11ed-880b-78ac4409ff3c,900+10,45.0,NaN,900,10,1350.0,NaN,NaN,NaN,NaN

In [24]:
# Q5 - What is the most common opening when this player played white?


def white_opening(username, period, top):
    usergame = period_games(username,period)
    games_move = pd.merge(usergame, moves, on=["uuid"])
    games_move['is_white_player'] = games_move.apply(lambda row: is_white_player(row), axis=1)

    games_move = games_move.loc[games_move['is_white_player'] == 1]
    move_aggr = games_move.groupby(['username','ECO']).nunique().reset_index()[['username','ECO','uuid']].sort_values(by =
                                                                                                                     'uuid', ascending = False)
    
    return move_aggr.head(top)

white_opening('tianminlyu',['12/01/22','02/28/23'],5)

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2104087043.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date

      username  ECO  uuid
3   tianminlyu  A07     9
2   tianminlyu  A05     6
1   tianminlyu  A04     6
6   tianminlyu  A45     4
19  tianminlyu  C00     4

In [25]:
# Q6 - What is the most common opening when this player played black?


def white_opening(username, period, top):
    usergame = period_games(username,period)
    games_move = pd.merge(usergame, moves, on=["uuid"])
    games_move['is_white_player'] = games_move.apply(lambda row: is_white_player(row), axis=1)

    games_move = games_move.loc[games_move['is_white_player'] == 0]
    move_aggr = games_move.groupby(['username','ECO']).nunique().reset_index()[['username','ECO','uuid']].sort_values(by =
                                                                                                                     'uuid', ascending = False)
    
    return move_aggr.head(top)

white_opening('tianminlyu',['12/01/22','02/28/23'],5)

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2104087043.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergame['date'] = pd.to_datetime((usergame['timestamp']), errors='coerce').dt.date

      username  ECO  uuid
4   tianminlyu  A07    13
12  tianminlyu  B00     7
2   tianminlyu  A04     6
14  tianminlyu  B20     4
29  tianminlyu  C50     4

In [26]:
# Q7 - How does the rating change along the period?

def rating_overtime(username,period,ascending = True):
    usergames = games.loc[games['username'] == username]
    rating_time = usergames[['username','timestamp','player_rating']].sort_values(by = 'timestamp',ascending = ascending)
    
    return rating_time
rating_overtime('tianminlyu',['12/01/22','02/28/23'], False)

       username            timestamp  player_rating
165  tianminlyu  2023-02-15 12:32:46           1946
164  tianminlyu  2023-02-01 09:23:36           1957
163  tianminlyu  2023-01-27 16:56:39           1941
162  tianminlyu  2023-01-26 16:23:25           1952
161  tianminlyu  2023-01-26 15:54:51           1945
..          ...                  ...            ...
4    tianminlyu  2022-12-12 22:28:36           2116
3    tianminlyu  2022-12-11 22:37:50           2106
2    tianminlyu  2022-12-11 22:29:39           2112
1    tianminlyu  2022-12-11 11:36:40           2106
0    tianminlyu  2022-12-09 05:50:15           2101

[166 rows x 3 columns]

In [27]:
# Q8 - How does the rating of its opponent along the period?
def opponent_rating_time(username,period,ascending = True):
    usergames = games.loc[games['username'] == username]
    usergames['opponent_rating'] = usergames.apply(lambda row: opponent_rating(row), axis=1)
    opponent_rating_time = usergames[['username','timestamp','opponent_rating']].sort_values(by = 'timestamp',ascending = ascending)
    
    return opponent_rating_time

opponent_rating_time('tianminlyu',['12/01/22','02/28/23'], False)

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2438757236.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergames['opponent_rating'] = usergames.apply(lambda row: opponent_rating(row), axis=1)

       username            timestamp  opponent_rating
165  tianminlyu  2023-02-15 12:32:46             1839
164  tianminlyu  2023-02-01 09:23:36             1786
163  tianminlyu  2023-01-27 16:56:39             1845
162  tianminlyu  2023-01-26 16:23:25             1875
161  tianminlyu  2023-01-26 15:54:51             1618
..          ...                  ...              ...
4    tianminlyu  2022-12-12 22:28:36             2081
3    tianminlyu  2022-12-11 22:37:50             2285
2    tianminlyu  2022-12-11 22:29:39             2085
1    tianminlyu  2022-12-11 11:36:40             2110
0    tianminlyu  2022-12-09 05:50:15             2208

[166 rows x 3 columns]

In [28]:
# Q9 - The distribution of type of games this player has played?

def time_control(username,period):
    usergames = games.loc[games['username'] == username]
    user_time_control = usergames.groupby(['username','time_control']).nunique().reset_index()[['username','time_control','uuid']]
    return user_time_control

time_control('tianminlyu',['12/01/22','02/28/23'])

     username time_control  uuid
0  tianminlyu        180+2    22
1  tianminlyu         1800     4
2  tianminlyu          300    17
3  tianminlyu          600    23
4  tianminlyu       900+10   100

In [29]:
#10 - win, lose, draw ratio
def result_outcome(username,period):
    usergames = games.loc[games['username'] == username]
    usergames['is_white_player'] = usergames.apply(lambda row: is_white_player(row), axis=1)

    outcome = usergames.groupby(['username','Result','is_white_player']).nunique().reset_index()[['username',
                                                                                                 'Result',
                                                                                                  'is_white_player',
                                                                                                 'uuid']]
    
    return outcome
result_outcome('tianminlyu',['12/01/22','02/28/23'])

/var/folders/gm/sqkz8yg12_d12sb2rtq76mzw0000gn/T/ipykernel_3957/2211614932.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usergames['is_white_player'] = usergames.apply(lambda row: is_white_player(row), axis=1)

     username   Result  is_white_player  uuid
0  tianminlyu      0-1                0    53
1  tianminlyu      0-1                1    28
2  tianminlyu      1-0                0    33
3  tianminlyu      1-0                1    48
4  tianminlyu  1/2-1/2                0     3
5  tianminlyu  1/2-1/2                1     1

In [30]:
"""
letters = ['a','b','c','d','e','f','g','h']
numbers = [1,2,3,4,5,6,7,8]

squares = []
for l in letters:
    for n in numbers:
        squares.append(l + str(n))
len(square)

squares[0]

letters.index('a')

letters[2]

def capture_square(color, piece, current_square):
    alphabet = current_square[0]
    alpha_index = letters.index(alphabet)
    number = int(current_square[1])
    caps = []
    for square in squares:
        square_alpha = square[0]
        square_number = int(square[1])
        if piece == 'p':
            if color == 'white' and ((square_alpha ==  letters[alpha_index + 1] or square_alpha ==  letters[alpha_index - 1]) and square_number == number + 1):
                caps.append(square)
            elif color == 'black' and ((square_alpha ==  letters[alpha_index + 1] or square_alpha ==  letters[alpha_index - 1]) and square_number == number - 1): 
                caps.append(square)
        elif piece == 'n' and ((square_alpha == letters[alpha_index + 1] and square_number == number + 2)  or \
                              (square_alpha == letters[alpha_index + 1] and square_number == number - 2) or   \
                              (square_alpha == letters[alpha_index + 2] and square_number == number - 1) or \
                              (square_alpha == letters[alpha_index + 2] and square_number == number + 1) or \
                              (square_alpha == letters[alpha_index - 2] and square_number == number + 1) or \
                              (square_alpha == letters[alpha_index - 2] and square_number == number - 1) or \
                              (square_alpha == letters[alpha_index - 1] and square_number == number + 2) or \
                              (square_alpha == letters[alpha_index - 1] and square_number == number - 2)): 
            caps.append(square)

            
            

                    
    return caps
            

capture_square("white",'p','a4')

test = 'b3'

alphabet = test[0]
alpha_index = letters.index(alphabet)
number = int(test[1])

letters[alpha_index + 1]
"""
"""
number >= 1 or <= 8
alpha >= a or <= h

if pawn
    if white 
        number + 1
        alpha + 1 and -1
    if black
        number - 1
        alpha + 1 and -1
        
if knight
    black/white
        if number +1/-1 then alpha +2/-2
        if number +2/-2 then alpha +1/-1

if bishop
    black/white
        if number +1/-1 then alpha +1/-1 until number or alpha goes out of range
        
if rook
    black/white
        if number +/- alpha no change
        if alphe +/1 alpha no change
        until number or alpha goes out of range
        
if queen
    black/white
        rook + bishop
        
if king
    black/white
        number & alpha +1/-1 iterate, excluding current position

"""

'\nnumber >= 1 or <= 8\nalpha >= a or <= h\n\nif pawn\n    if white \n        number + 1\n        alpha + 1 and -1\n    if black\n        number - 1\n        alpha + 1 and -1\n        \nif knight\n    black/white\n        if number +1/-1 then alpha +2/-2\n        if number +2/-2 then alpha +1/-1\n\nif bishop\n    black/white\n        if number +1/-1 then alpha +1/-1 until number or alpha goes out of range\n        \nif rook\n    black/white\n        if number +/- alpha no change\n        if alphe +/1 alpha no change\n        until number or alpha goes out of range\n        \nif queen\n    black/white\n        rook + bishop\n        \nif king\n    black/white\n        number & alpha +1/-1 iterate, excluding current position\n\n'